@media only screen and (max-width: 600px) {
  form {
    display: inline;
  }
  input[type="button"] {
    width: 100%;
  }
}
div#container {
  display: flex;
  place-content: space-evenly;
  /* background-image: url("bg.jpg");
  background-size: cover;
  background-position: center; */
}
img {
  height: 60px;
}
#img {
  display: grid;
  place-content: center;
}
h2 {
  text-align: center;
}
form {
  display: grid;
  place-content: space-around;
}

input#c_name {
  padding: 5px;
  border-right: none;
  border-top: none;
  border-left: none;
  margin: 10% 0 15% 0;
  border-bottom: 1px solid black;
  text-align: center;
}

select {
  padding: 5px;
  text-align: center;
  margin-bottom: 8%;
  font-size: small;
  font-weight: 500;
  font-family: -webkit-pictograph;
  border-radius: 10px;
}

input[type="button"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid darkgray;
}
fieldset {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: -webkit-pictograph;
  margin-bottom: 5%;
  margin-top: 5%;
}

p#total_value {
  margin: 0px;
  font-family: -webkit-pictograph;
  padding: 10px;
  font-weight: bold;
}
table#items_chosen {
  border: 1px solid darkgrey;
}
th {
  border: 1px solid darkgray;
  padding-bottom: 10px;
  font-family: -webkit-pictograph;
  font-weight: 400;
}
td {
  font-weight: 700;
  font-family: -webkit-pictograph;
  text-align: right;
}
div#showAll {
  margin: 5%;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-weight: 500;
  margin: 0px;
}
div#totalSell {
  width: 100%;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15%;
  border-radius: 10%;
  border: 1px solid gainsboro;
  border-right: none;
  border-left: none;
  font-size: larger;
  font-family: -webkit-pictograph;
  font-weight: 600;
}
